# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
env/
.env

# Node
node_modules/
.next/
out/
build/
dist/

# OS
.DS_Store
Thumbs.db

# Docker
.docker/

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite
